.sidebar {
    -fx-background-color: #ffffff;
    -fx-padding: 0 20px;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #344054;
    -fx-padding: 32px 0;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #344054;
    -fx-font-size: 14px;
    -fx-border: none;
    -fx-padding: 8px 16px;
}

.button:hover {
    -fx-background-color: #e4e7ec;
}

/* Gaya dasar untuk semua tombol
.button {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-border: 2px solid #333;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 1);
    -fx-transition: background-color 0.3s, -fx-border-color 0.3s;
}

.button:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #888;
}

.button:pressed {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #555;
}

.button:focused {
    -fx-background-color: #d0d0d0;
    -fx-border-color: #333;
} */
